.h4 {

  @apply text-center  font-IRANYekanWeb  text-[23px] font-bold leading-[165.409%] tracking-[-0.805px]   text-[#000] xl:text-right;
}

.h1 {
  @apply mb-[0px] my-[29px]  text-center font-IRANYekanWeb text-[37px] font-extrabold leading-[139.909%] tracking-[-1.425px] text-[#000] md:text-[47px] lg:text-[57px] xl:text-right;
}

.titleDesc {
  @apply my-[29px]  px-5 text-center font-IRANYekanWeb text-[13px] font-[400] leading-[165.409%] text-[#000] opacity-70 lg:px-0 xl:text-right;
}

.shadowCustom {
  box-shadow: 0px 0px 52px -10px rgba(0, 0, 0, 0.29);
}

.metreagBoxShadow {
  box-shadow: 0 0px 52px -10px rgba(0, 0, 0, 0.29);
}

.metrageYou {
  color: #a5a5a5;
  text-align: right;
  font-family: IRANYekanWeb;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 165.409%;
  letter-spacing: -0.8px;
}
.metrageText {
  @apply transition-all duration-300 ease-linear hover:text-main-green;
}