.hoverLink {
  @apply transform font-IRANYekanWeb font-extrabold text-main-text transition-all duration-100 ease-in-out  hover:text-main-green;
}
.liLg {
  @apply transition-all duration-200 ease-out hover:pb-1 lg:px-4;
}

.mobileHoverLink {
  @apply block transform whitespace-nowrap break-normal  rounded-md px-8 font-IRANYekanWeb text-base font-extrabold   text-main-text transition-all duration-500 ease-in-out hover:mr-2  hover:text-main-green;
}
.nav {
  @apply sticky top-0 mx-auto   hidden h-[90px] w-full bg-[#fff] md:block lg:mt-[30px]  lg:max-w-[1201px] lg:rounded-2xl;
}

.ulNav {
  @apply flex h-full w-full items-center justify-around lg:justify-center;
}