.hoverLink {
    @apply font-IRANYekanWeb text-main-text hover:text-main-green transition-[all] ease-in-out duration-100 transform  font-extrabold
}
.liLg{
 @apply   lg:px-4 hover:pb-1 transition-all ease-out duration-200

}

.mobileHoverLink {

@apply font-IRANYekanWeb text-main-text block px-8  rounded-md text-base hover:mr-2 break-normal whitespace-nowrap   hover:text-main-green transition-[all] ease-in-out duration-500 transform  font-extrabold


}
.nav {
    @apply w-full hidden md:block   lg:max-w-[1201px] h-[90px] bg-[#fff] lg:rounded-2xl mx-auto lg:mt-[30px]  sticky top-0
}

.ulNav{
    @apply flex w-full h-full lg:justify-center justify-around items-center
}