.h4{
@apply  text-main-green text-center font-IRANYekanWeb text-[21px] font-[700] leading-[165.409%]  tracking-[-0.735px] 
}

h1{
    color: #121939;
text-align: right;
font-family: IRANYekanWeb;
font-size: 37px;
font-style: normal;
font-weight: 800;
line-height: 165.409%;
letter-spacing: -1.295px;
@apply  text-[#121939] text-center font-IRANYekanWeb text-[37px] font-[800] leading-[165.409%]  tracking-[-1.259px] 

}
.cardShadow{
    box-shadow: 0px 0px 34px -9px rgba(12, 46, 96, 0.25);
    @apply lg:hover:-translate-y-[10px] transform  transition-all duration-500
}

.cardTitle {
    color: #101737;
text-align: right;
font-family: IRANYekanWeb;
font-size: 21px;
font-style: normal;
font-weight: 700;
line-height: 145.609%;
letter-spacing: -0.441px;

@apply hover:text-main-green transition-all duration-300 ease-linear 

}

.meterPrice {
    color: #101737;
font-family: IRANYekanWeb;
font-size: 23px;
font-style: normal;
font-weight: 800;
line-height: 145.609%;
letter-spacing: -0.483px;
}
.meterPrice2{
    color: #818181;
text-align: right;
font-family: IRANYekanWeb;
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: 145.609%; /* 23.297px */
letter-spacing: -0.336px;
}