@font-face {
  font-family: "Font IRANYekanWeb";
  src: url("/fonts/IRANYekanWeb.woff2") format("woff2"),
    url("/fonts/IRANYekanWeb.woff") format("woff"),
    url("/fonts/IRANYekanWeb.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.shadow-custom {
  box-shadow: 0px 0px 17px 0px rgba(0, 0, 0, 0.16);
}
.shadow-custom2 {
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.16);
}

.bg{
  background: url(<path-to-image>), lightgray 50% / cover no-repeat;
}



.menu-container {
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.4s ease-out;
}

.menu-container.open {
  max-height: 100vh;
  transition: max-height .8s ease-in-out;
}
